<h1>Chào mừng {{name}} đã tham gia vào cộng đồng Toeic Mastery</h1>

<p>Hãy theo dõi Fanpage Facebook Toeic Mastery để có thể nhận được những thông
  tin nóng hổi nhất đến từ chúng tối nhé.
</p>

<p>Have a good day!</p>

<p>Trân trọng</p>

<p>Toeic Mastery</p>